$('.saved-units-container').html("<%= escape_javascript(render 'shared/saved_units') %>")
$('.saved-icon').html("<%= escape_javascript(render 'shared/saved_count') %>")
$('.saved-container').css({'background': '#ff5353'});
$('.saved-container').html('<p>Save $20K CAD</p><h1> + Added to Saved</h1>')