.input-text-wrap {
  position: relative;
  padding-top: 15px;
  margin-bottom: 20px;
}

.input-text-wrap.is-large.is-focused .input-text-label, .input-text-wrap.is-large.has-value .input-text-label {
  top: 0;
  font-size: 12px;
  line-height: 15px;
}

.input-text-wrap [type="text"],
.input-text-wrap [type="password"],
.input-text-wrap [type="number"],
.input-text-wrap [type="email"],
.input-text-wrap [type="tel"] {
  display: inline-block;
  width: 100%;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  color: black;
  background-color: transparent;
  border: 0;
  border-bottom: 4px solid #ccc;
  box-shadow: transparent 0 1px 0;
  transition: 0.3s border-color, 0.3s box-shadow;
}

.input-text-wrap [type="text"]:focus,
.input-text-wrap [type="password"]:focus,
.input-text-wrap [type="number"]:focus,
.input-text-wrap [type="email"]:focus,
.input-text-wrap [type="tel"]:focus {
  outline: none;
}

.input-text-wrap input.has-error {
  border-bottom: 4px solid #ff5353;
}

.input-text-label {
  position: absolute;
  top: 18px;
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
  pointer-events: none;
  transition: 0.3s top, 0.3s font-size;
  transition-timing-function: cubic-bezier(0.02, 0.01, 0.47, 1);
  color: #adadad;
  font-weight: normal;
  text-transform: capitalize;

  &.has-error {
    color: #ff5353;
  }
}

.input-text-wrap.is-focused .input-text-label, .input-text-wrap.has-value .input-text-label {
  top: 0;
  font-size: 12px;
  line-height: 15px;
}

.input-text-wrap.is-focused label::after, .input-text-wrap.has-value label::after {
  top: 4px;
}

// Select inputs
@mixin select-dropdown {
  .selectize-input,
  .selectize-input.full,
  .selectize-control.single .selectize-input.input-active {
    font-size: 16px;
    line-height: 30px;
    background: #F5F5F5;
    border-radius: 0;
    box-shadow: none;
    border: 0;
    border-bottom: 4px solid #ccc;
  }

  .selectize-control.single .selectize-input:after {
    right: 0;
  }

  .input-select-label {
    color: #ccc;
    font-weight: normal;
  }

  .selectize-dropdown-content .option {
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
    padding: 15px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }

  .selectize-control.single .selectize-input:after {
    border-color: black transparent transparent transparent
  }

  .selectize-control.single .selectize-input.dropdown-active:after {
    border-color: transparent transparent black transparent
  }
}