* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body, html {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  background-color: #F5F5F5;
  width: 100%;
  overflow-x: hidden;
}

.container-fluid {
  padding-left: 8px;
  padding-right: 8px;

  @media #{$sm-down} {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (min-width: 1200px) {
  .container-fluid.special {
    width: 1140px;
  }
}

@media (max-width: 1199px) {
  .special-margin {
    margin: 0 15px;
  }
}

header,
footer {
  flex-shrink: 0;
  width: 100%;
}

main {
  margin: 0;
  padding: 0;
  flex: 1 0 auto;
  position: relative;
}

//------------------------------------------------------------------------------
// Links
a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

@mixin link-animation {
  .link-animation {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 10px 0;
    font-size: 18px;

    &::before, &::after {
      content: '';
      position: absolute;
      background-color: black;
      height: 5%;
    }

    &::before {
      width: 0%;
      left: 0;
      bottom: 0;
      transition: width ease 0.4s;
    }

    &::after {
      width: 100%;
      left: 0;
      bottom: 0;
      transition: all ease 0.6s;
    }

    &:focus {
      color: black;
    }

    &:hover {
      color: black;

      &:focus {
        color: black;
      }

      &::before {
        width: 100%;
      }

      &::after {
        left: 100%;
        width: 0%;
        transition: all ease 0.2s;
      }
    }
  }
}

// Devise modals and pages
#signup-modal,
#login-modal,
#reset-password-modal {
  .modal-dialog {
    width: 350px;
    margin: 10px auto;
  }
}

.devise-panel {
  border: 0;
  box-shadow: none;
  background: transparent;

  .panel-heading {
    background: transparent;
    border: 0;
  }

  .heading-container {
    h2 {
      font-weight: lighter;
    }

    .bold-logo {
      font-weight: bold;
    }
  }

  .panel-footer {
    background: transparent;
    padding: 30px 0 0 0;
    border-top: 4px solid #ccc;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }
  }
}

.reset-password-link {
  margin-bottom: 15px;
  font-size: 14px;
}

label.error {
  color: #ff5353;
}

.btn-container {
  display: flex;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.saved-message {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    margin-left: 5px;
  }
}

.btn-google {
  display: flex;
  align-items: center;
  justify-content: center;

  .google-logo {
    position: absolute;
    width: 25px;
    left: 40px;
  }
}

.btn-success {
  a {
    text-decoration: none;
    color: white;
  }
}

.link-no-decoration {
  &:hover {
    text-decoration: none;
  }
}

.alert {
  margin-bottom: 0;
}

.alert {
  font-size: 16px;

  &.login-alert,
  &.signup-alert,
  &.reset-password-alert {
    margin-bottom: 14px;
    padding: 10px;
    font-size: 14px;
  }
}

.black {
  color: black;
}