nav.navbar {
  width: 100%;
  border-radius: 0;
  margin: 0;
  border: 0;
  background-color: black;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
  z-index: 21;

  .saved-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    margin: 0 15px;
    margin-left: 0;

    h3 {
      margin: 0;
      font-size: 12px;
      font-weight: normal;
      margin-right: 10px;
    }
  }

  .circle {
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    p.amount {
      color: black;
      margin: 0;
      font-size: 12px;
    }
  }

  .circle-white {
    background-color: white;
  }

  .circle-pulse {
    background-color: rgba(100, 200, 121, 1);
    padding: 8px;
    border-radius: 15px;
    box-shadow: 0 0 0 rbga(100, 200, 121, 0.4);
    animation: pulse 3s infinite;
  }

  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(100, 200, 121, 0.6);
      box-shadow: 0 0 0 0 rgba(100, 200, 121, 0.6);
    }
    80% {
      -moz-box-shadow: 0 0 0 20px rgba(100, 200, 121, 0);
      box-shadow: 0 0 0 20px rgba(100, 200, 121, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(100, 200, 121, 0);
      box-shadow: 0 0 0 0 rgba(100, 200, 121, 0);
    }
  }

  .saved-icon {
    cursor: pointer;

    // Events will be bubbled up directly to the parent that allows event bindings.
    * {
      pointer-events: none;
    }
  }

  .nav-block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    .logo {
      text-align: center;
      margin: 0 auto;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -49%);
      width: 110px;
      height: 100%;

      @media #{$xs-down} {
        width: 90px;
      }
    }

    .hamburger-container {
      cursor: pointer;
      display: flex;
      align-items: center;

      .menu-hamburger {
        margin-left: 15px;
        display: inline-block;

        * {
          pointer-events: none;
        }
      }

      .menu-hamburger:hover {
        cursor: pointer;
      }

      .menu-hamburger:hover span#three {
        transform: translateY(2px);
      }

      .menu-hamburger:hover span#one {
        transform: translateY(-2px);
      }

      .menu-hamburger span {
        display: block;
        width: 20px;
        height: 1px;
        position: relative;

        background: #FFFFFF;
        border-radius: 3px;
        transition: transform 0.25s;
      }

      span#one, span#two {
        margin-bottom: 4px;
      }

      .menu-title {
        display: inline-block;
        margin-left: 15px;

        * {
          pointer-events: none;
        }
      }

      .menu-title:hover {
        cursor: pointer;
      }

      .menu-title p {
        color: #FFFFFF;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 100;
        margin-bottom: 0;
      }
    }

    .back-link,
    .all-layouts-link {
      margin-left: 15px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;

      &:focus {
        text-decoration: none;
      }

      span {
        margin-left: 10px;
      }
    }

    .logo-right {
      margin-right: 15px;
      width: 110px;

      @media #{$sm-down} {
        width: 90px;
      }
    }
  }

  &.secondary {
    background: #1a1a1a;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);

    .unit-type {
      margin: 0;
      margin-right: 15px;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

.search-unit-container {
  padding: 50px;
}

.saved-unit,
.sold-unit {
  padding: 20px 0 20px 15px;
  border-top: 1px solid rgba(204, 204, 204, 0.8);
  position: relative;
  cursor: pointer;

  .close-icon,
  .delete-icon {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
  }

  .delete-icon {
    top: 15px;
  }

  .btn-checkout-container {
    margin-top: 10px
  }

  .btn-view {
    background: transparent;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #e6e6e6;

    a {
      color: black;
      text-decoration: none;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 13px;
    color: #ccc;
    opacity: 0.9;
    font-weight: normal;
  }

  h2 {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
  }
}

.saved-unit,
.sold-unit {
  .unit-info {
    display: flex;
    align-items: center;

    h2.square-icon-heading {
      font-size: 10px;
    }
  }

  .square-icon {
    font-size: 9px;
    margin: 0 5px;
  }
}

.sold-unit {
  cursor: default;

  h2 {
    font-weight: normal;
    color: #ccc;
  }
}