.sidebar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -300px;
  z-index: 1000;
  background: white;
  overflow-y: auto;

  &.sidebar-is-open {
    left: 0;
  }
}

.right-sidebar {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -320px;
  z-index: 1000;
  background: white;
  overflow-y: auto;

  &.right-sidebar-is-open {
    right: 0;
  }
}

.sidebar,
.right-sidebar {
  transition: all 0.3s ease;
}

.sidebar-nav {
  padding: 0;

  .logout-container {
    margin-top: 20px;

    .sidebar-item {
      padding: 10px 0px 10px 50px;
    }

    .sidebar-item-text {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .sidebar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px 20px 50px;
    color: black;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;

    .image {
      margin-right: 8px;
    }

    i.fa {
      margin-right: 10px;
      width: 30px;
    }

    p {
      margin: 0;
      font-weight: bold;
      font-size: 20px;
    }

    em {
      font-size: 14px;
      font-weight: lighter;
    }

    .sidebar-item-text {
      display: flex;
      flex-direction: column;

      &.phone-info {
        font-size: 15px;
        font-weight: normal;
        cursor: default;
        display: block;
      }

      &.sign-up-message {
        cursor: default;
        display: block;

        a {
          color: black;
          font-weight: bold;
        }
      }
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &.no-link {
      p {
        text-transform: uppercase;
      }

      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

.right-sidebar-nav {
  .notification-container {
    background: $brand-info;
    padding: 33px;
    color: white;
    letter-spacing: 0.06em;

    p {
      font-size: 14px;
    }

    h5 {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      color: white;
    }
  }

  .saved-units-container {
    p.add-message {
      font-size: 23px;
      font-weight: bold;
      letter-spacing: 0.02em;
      padding: 40px;
      padding-top: 130px;
    }

    h3 {
      padding: 40px;
      font-weight: normal;
      margin-top: 60px;
      font-size: 21px;
      line-height: 1.5;
      padding-top: 0;
    }

    span.red {
      color: #ff5353;
    }
  }

  .saved-unit-types .saved-unit:last-child,
  .sold-units .sold-unit:last-child {
    border-bottom: 1px solid rgba(204, 204, 204, 0.8);
  }

  .saved-unit-types > h2,
  .sold-units > h2 {
    padding: 20px 0px 5px 15px;
    font-size: 14px;
  }

  .confirmation-container {
    padding: 5px 0 25px 0;

    h2 {
      font-size: 14px;
      color: white;
    }

    .email {
      margin-top: 10px;
    }
  }
}

.search-field-and-button-wrapper {
  border-bottom: 4px solid #ccc;
  padding-bottom: 10px;

  .custom-search-button{
    border: 0px;
    background: transparent;
    font-size: 16px;
    font-weight: bold;
    line-height: 40px;
    position: relative;
  }
}
