.row
  .col-md-offset-1.col-md-10
    .row.h-one
      .col-10.offset-1
        %h1 Help Center
    .row.h-two
      .col-10.offset-1
        .row.justify-content-between.help-option
          %li.col-9 Frequently Asked Questions
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option.help-option
          %li.col-9 Getting Started
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Buying Unit Online
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Checkout
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Payments & Security
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Account
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Refunds & Cancellations
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
        .row.justify-content-between.help-option
          %li.col-9 Contact
          %svg.col-2{:height => "9px", :version => "1.1", :viewbox => "-1 -1 17 9", :width => "17px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#icon-drop-down{:fill => "none", :points => "0 0 7.63707313 6.7935755 14.8766676 0.353577992", :stroke => "#1A1A1A", "stroke-width" => "1"}
          %p.col-12.col-sm-10 Why lorem ipsum dolor sit amet changed the economy of Canada?
          %p.col-12.col-sm-10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mattis neque sapien, ut laoreet nibh feugiat id. Maecenas facilisis ipsum nec porta tempus, dolor quam blandit lorem, vitae maximus ex eros tincidunt velit.
