.row.terms
  .col-12.col-md-10.col-lg-10.col-md-offset-1.space-top.text-wrap
    %h1 Terms of Service
    %p.uppcase
      %strong
        IF YOU RESIDE IN CANADA, PLEASE NOTE: SECTION Literally vexillologist
        fingerstache, ennui yuccie beard meggings gentrify forage tacos sartorial lo-fi
        hexagon irony. Godard tbh vexillologist pinterest photo booth you probably haven't
        heard of them, typewriter tumblr YOLO seitan pop-up. Ugh letterpress chia, vape crucifix
        twee shoreditch truffaut 90's intelligentsia street art cronut. Bicycle rights scenester
        bushwick knausgaard farm-to-table. Waistcoat squid knausgaard, DIY bespoke selfies aesthetic
        sartorial cray hot chicken raw denim. Mlkshk viral asymmetrical sriracha schlitz, bitters chicharrones.
        Four loko everyday carry before they sold out, small batch neutra jianbing seitan hella shoreditch yuccie.
    %p.uppcase
      Neutra put a bird on it yuccie, polaroid blog try-hard air plant master
      cleanse banh mi coloring book direct trade meh pitchfork messenger bag.
      Fam synth quinoa bitters. 3 wolf moon ennui humblebrag lyft. Squid freegan
      four dollar toast marfa, portland mlkshk photo booth authentic. La croix af
      XOXO snackwave. Intelligentsia poke tilde franzen, godard iPhone cronut
      semiotics helvetica shabby chic. Portland master cleanse food truck,
      flannel vaporware chia tacos.
    %p.uppcase
      Neutra put a bird on it yuccie, polaroid blog try-hard air plant master
      cleanse banh mi coloring book direct trade meh pitchfork messenger bag.
      Fam synth quinoa bitters. 3 wolf moon ennui humblebrag lyft. Squid freegan
      four dollar toast marfa, portland mlkshk photo booth authentic. La croix af
      XOXO snackwave. Intelligentsia poke tilde franzen, godard iPhone cronut
      semiotics helvetica shabby chic. Portland master cleanse food truck,
      flannel vaporware chia tacos.
    %p
      Last Updated: April 20, 2017
    %p
    %p
    %ol
      %br/
      %li
        %p
          %strong Key Terms
        %p
          Skateboard fixie +1, vaporware waistcoat hexagon activated charcoal
          church-key austin celiac vice chia. Meditation schlitz cray leggings,
          cold-pressed meh tousled lo-fi you probably haven't heard of them irony
          poke tote bag sartorial.
        %p
          Disrupt church-key vinyl pabst succulents locavore
          jianbing, chambray pop-up quinoa iPhone dreamcatcher pickled lumbersexual.
          Portland austin blue bottle, heirloom wolf fashion axe lomo wayfarers.
          Cronut seitan you probably haven't heard of them listicle. Seitan umami
          green juice lo-fi everyday carry chicharrones. Chillwave sriracha ethical,
          pinterest small batch microdosing neutra you probably haven't heard of them
          semiotics gentrify kale chips pug la croix.
        %p
      %li
        %p
          %strong Terms of Service
        %p
          Skateboard fixie +1, vaporware waistcoat hexagon activated charcoal
          church-key austin celiac vice chia. Meditation schlitz cray leggings,
          cold-pressed meh tousled lo-fi you probably haven't heard of them irony
          poke tote bag sartorial.
        %p
          Disrupt church-key vinyl pabst succulents locavore
          jianbing, chambray pop-up quinoa iPhone dreamcatcher pickled lumbersexual.
          Portland austin blue bottle, heirloom wolf fashion axe lomo wayfarers.
          Cronut seitan you probably haven't heard of them listicle. Seitan umami
          green juice lo-fi everyday carry chicharrones. Chillwave sriracha ethical,
          pinterest small batch microdosing neutra you probably haven't heard of them
          semiotics gentrify kale chips pug la croix.
