-#
  .your-class
    = image_tag('bldg1.svg', style: 'height: 100px;', class: 'img-responsive')
    = image_tag('bldg2.svg', style: 'height: 100px;', class: 'img-responsive')

.countdown-message.text-center
  %h1 Pre-Sale ending in
  .countdown