body.orders-steps.show {
  //------------------------------------------------------------------------------
  // Floating Box
  #floating-box {
    width: 400px;
    float: right;
    box-shadow: -1px 2px 42px 4px rgba(204,204,204,1);
    margin-top: 40px;
    margin-right: 15px;
    position: fixed;

    &.visible-xs {
      margin: 80px 0 50px 0;
    }

    @media #{$sm-only} {
      width: 340px;
    }

    @media #{$xs-down} {
      &.visible-xs {
        margin: 0;
        margin-bottom: 20px;
        position: relative;
        bottom: 0;
        right: 0;
        width: auto;
        float: none;
        box-shadow: none;
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .unit-info-container {
      padding: 10px;
      border-bottom: 1px solid rgba(204, 204, 204, 0.8);

      p.unit-number {
        margin-bottom: 0;
      }
    }

    .price-container {
      padding: 10px;
      border-bottom: 1px solid rgba(204, 204, 204, 0.8);

      h2 {
        margin-top: 0;
      }

      p {
        font-size: 12px;
      }
    }

    .checkout-container {
      padding: 10px;
      color: $brand-info;

      h2 {
        margin-top: 0;
      }

      p {
        font-size: 12px;
      }
    }
  }

  //------------------------------------------------------------------------------
  // Finalize Payment
  .deal-sheet-text {
    height: 300px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 20px;
      height: 30px;
    }

    &::-webkit-scrollbar-thumb {
      height: 6px;
      border: 7px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      -webkit-border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.15);
      -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    }

    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
      display: none;
    }

    &::-webkit-scrollbar-corner {
      background-color: transparent;
    }
  }

  @media #{$xs-down} {
    .confirm-and-pay-container {
      text-align: center;

      .btn {
        width: 100%;
      }
    }
  }

  .checkbox-label {
    cursor: pointer;
    margin: 20px 0;
    display: block;

    span {
      font-weight: normal;
      font-size: 18px;
      margin-left: 10px;
    }

    label.error {
      margin-top: 10px;
    }
  }

  .deposit-container {
    background: #00aaff;
    color: white;
    margin: 0;
    margin-left: -25px;
    border-radius: 10px;
    padding: 50px;

    @media (max-width: 1199px) {
      margin-left: 0;
    }

    @media #{$xs-down} {
      padding: 50px;
      margin: 0 -15px;
      border-radius: 0;
    }

    .deposit-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media #{$xs-down} {
        flex-wrap: wrap;

        .stripe-image {
          margin-top: 10px;
        }

        h1 {
          font-size: 24px;
          width: 100%;
        }
      }

      h1 {
        margin: 0;
      }
    }

    .deposit-info {
      margin: 45px 0;
      font-size: 15px;
      width: 60%;
    }

    @media #{$xs-down} {
      .deposit-info {
        width: 100%;
      }
    }
  }

  .form-row {
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);
  }

  .StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5;
  }

  .form-actions {
    margin-top: 30px;
  }

  //------------------------------------------------------------------------------
  // Order Confirmation
  .c-one {
    background: #1A1A1A;
  }

  .c-two {
    margin-top: 30px;
  }

  .c-one h2, .c-one p {
    color: #F2F2F2;
    font-weight: light;
  }

  .c-one h2 {
    letter-spacing: 0.5px;
    line-height: 40px;
  }

  .c-one p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 25px;
  }

  .c-four {
    margin-bottom: 30px;
  }

  .circle-check {
    display: block;
    margin: auto;
    padding-left: 45px;
    padding-top: 20px;
  }

  .circle-check #check {
    position: relative;
    top: -22px;
    left: -59px;
  }

  #Oval-2 {
    animation: draw 1.4s ease-in-out forwards;
    /*animation-delay: 1s;*/
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }

  #tick {
    animation: draw 1.4s ease-in-out forwards;
    /*animation-delay: 1s;*/
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  .c-five {
    background-color: #FFFFFF;
  }
  .c-six {
    margin-top: 50px;
  }
  .c-five h2 {
    letter-spacing: 0.5px;
    line-height: 40px;
    margin-bottom: 30px;
  }
  .c-five p {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 25px;
    margin-bottom: 30px;
  }

  .c-seven {
    margin-bottom: 60px;
  }

  .btn-black {
    background: #1A1A1A;
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding: 10px;
  }
}