body.units.show {
  .saved-container {
    text-align: center;
    color: white;
    padding: 5px 0;
    cursor: pointer;

    h1 {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  }

  .login-link {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:hover:active, {
      text-decoration: none;
      outline: none;
    }
  }

  #floating-box {
    width: 400px;
    float: right;
    box-shadow: -1px 2px 42px 4px rgba(204,204,204,1);
    margin-top: 40px;
    position: fixed;

    .units-dropdown {
      padding: 15px;

      .select-container {
        width: 100%;
        background: $brand-info;
      }
    }

    .checkout-container {
      padding: 25px;
    }

    .trending-container {
      padding: 10px 25px;

      .title {
        font-size: 12px;
        color: $brand-success;
        font-weight: bold;
      }

      .description {
        font-size: 12px;

      }
    }

    .price-container,
    .checkout-container,
    .unit-info-footer {
      border-bottom: 1px solid rgba(204, 204, 204, 0.8);
    }

    .price-container {
      padding: 20px;

      .price {
        margin: 0;
      }

      .parking {
        font-size: 12px;
      }
    }

    .checkout-container {
      padding-top: 0;
    }

    .unit-info-footer {
      display: flex;

      .watchers-container {
        padding: 5px 10px;
        text-align: center;
        width: 30%;
        border-right: 1px solid rgba(204, 204, 204, 0.8);
      }

      .people-saved-container {
        padding: 5px 10px;
        width: 70%;
        text-align: center;
      }
    }
  }
}