body.unit-types.index {
  .select-heading {
    margin: 0;
    margin: 20px 0 50px 0;

    @media #{$xs-down} {
      margin: 0 0 30px 0;
    }
  }

  .unit-panel {
    border: none;
    cursor: pointer;
    transition:  transform .25s;

    h1 {
      font-size: 25px;
    }

    .view-container {
      margin: 20px 0;
    }

    &:hover {
      cursor: pointer;
      transform: scale3d(1.03, 1.03, 1);
      box-shadow: 0 20px 60px -20px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }

  .view-container {
    display: flex;
    align-items: center;
    height: 25px;

    img {
      transform: translateX(-35px);
      transition: transform 0.25s;
    }

    .view-text {
      margin: 0;
      margin-right: 10px;
      font-size: 14px;
      display: inline-block;
      opacity: 0;
      transform: translateX(-35px);
      transition: transform 0.25s;
    }
  }

  .trending-container {
    padding-top: 90px;
    padding-bottom: 40px;

    @media #{$sm-down} {
      padding-top: 70px;
    }
  }

  @media #{$sm-down} {
    .trending-container {
      margin: 10px;
    }
  }

  .price-container {
    background: #1a1a1a;
    width: 50%;
    padding: 10px 20px;

    .price {
      color: white;
    }

    .savings {
      color: #BFEAFE;
    }

    @media #{$xs-down} {
      p {
        font-size: 14px;
      }
    }
  }

  .unit-panel:hover .view-container img {
    transform: translateX(0px);
  }

  .unit-panel:hover .view-text {
    animation: seeview 0.25s forwards;
    transform: translateX(0px);
  }

  @keyframes seeview {
    0% {
      -moz-opacity: 0;
      opacity: 0;
    }
    30% {
      -moz-opacity: 0;
      opacity: 0;
    }
    100% {
      -moz-opacity: 1;
      opacity: 1;
    }
  }

  .trending-indicator,
  .last-chance-indicator {
    float: right;
    display: flex;
    position: relative;
    top: 10px;
    right: 10px;
    align-items: center;

    .title {
      color: #ff5353;
      font-size: 16px;
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  .units-left {
    width: 50%;
    padding: 10px 15px;

    @media #{$xs-down} {
      p {
        font-size: 14px;
      }
    }
  }

  .flex-row {
    display: flex;
    flex: 1;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

    @media #{$xs-down} {
      h1 {
        font-size: 18px;
      }
    }

    @media #{$sm-down} {
      flex-wrap: wrap;
      padding: 0 20px;
    }

    .price-column {
      width: 40%;
      padding: 0 38px;

      @media #{$xs-down} {
        width: 100%;
        padding: 0 15px;
      }

      p.lowest-price {
        position: absolute;
        left: 4px;
        top: 158px;

        @media #{$xs-down} {
          font-size: 14px;
        }
      }
    }

    .den-column,
    .balcony-column,
    .bathroom-column {
      width: 20%;
      padding: 0 20px;

      @media #{$xs-down} {
        width: 50%;
      }
    }

    .bathroom-column {
      @media #{$sm-down} {
        width: 100%;
      }
    }
  }

  .bathroom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$sm-down} {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .bedroom {
    border-right: 1px solid #ccc;

    p {
      margin: 0;
    }
  }

  .bedrooms-filter {
    width: 1124px;
    display: flex;
    top: 0;
    position: absolute;
    background: white;
    border-bottom: 1px solid #ccc;
    z-index: 26;
    display: inline-block;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.2);

    @media screen and (min-width: 1280px) {
      left: 8px;
    }

    @media screen and (min-width: 1200px) and (max-width: 1279px) {
      left: 0;
    }
  }

  .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background: #1a1a1a;
    color: white;
  }

  .nav > li > a {
    padding: 20px 60px;
    font-size: 16px;
  }

  .nav-item,
  li.filters {
    background: white;
  }

  @media #{$sm-down} {
    .nav > li > a {
      padding: 20px 40px;
      font-size: 14px;
    }

    .bedrooms-filter {
      width: 100%;
    }
  }

  @media #{$xs-down} {
    .nav > li > a {
      padding: 15px 15px;
    }
  }

  @media #{$xxs-only} {
    .nav > li > a {
      padding: 11px 8px;
    }
  }

  .nav-pills > li > a {
    border-radius: 0px;
    color: black;
  }

  .nav-pills > li + li {
    margin-left: 0px;
  }

  .nav-item.empty {
    flex: 1 0 auto;
  }

  li.filters {
    border-left: 1px solid #ccc;
    float: right;
    span {
      font-size: 7px;
      position: absolute;
      top: 18px;
      right: 50px;
      display: none;

      @media #{$sm-down} {
        top: 15px;
        right: 33px;
      }

      @media #{$xs-down} {
        top: 12px;
        right: 6px;
      }

      @media #{$xxs-only} {
        top: 8px;
        right: 6px;
      }
    }
  }

  .filters-container {
    position: absolute;
    width: 1124px;
    z-index: 30;
    text-align:center;
    height: 350px;
    font-size:18px;
    color: #000;
    background: #FFF;
    display: flex;
    justify-content: center; /* align horizontal */
    flex-direction: column;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    top: -1000px;
    padding-top: 25px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 1199px) {
      width: 100%;
      padding-top: 0;
    }

    @media screen and (min-width: 1200px) and (max-width: 1279px) {
      width: 1139px;
    }

    @media #{$xs-down} {
      h1 {
        margin-top: 10px;
        font-size: 16px;
      }

      p {
        font-size: 14px;
      }

      .btn-clear,
      .btn-accept {
        height: 40px;
      }
    }
  }

  .dot-animation-two {
    position: absolute;
    top: 50%;
    left: 50%;

    @media #{$sm-down} {
      left: 42%;
    }
  }

  .dot-animation-two .circleone:before {
    content: ' \25CF';
    font-size: 30px;
    position: absolute;
    animation: scale_and_fade 1s linear infinite;
  }

  .dot-animation-two .circletwo:before {
    content: ' \25CF';
    font-size: 30px;
    position: absolute;
    left: 25px;
    animation: scale_and_fade 1s linear infinite;
    animation-delay: 0.1s;
  }

  .dot-animation-two .circlethree:before {
    content: ' \25CF';
    font-size: 30px;
    position: absolute;
    left: 50px;
    animation: scale_and_fade 1s linear infinite;
    animation-delay: 0.2s;
  }

  @keyframes scale_and_fade {
    0% {
      transform: scale(0, 0);
      transform: translateY(0px);
      opacity: 1;
    }
    100% {
      transform: scale(10, 10);
      transform: translateY(-10px);
      opacity: 0;
    }
  }

  p.den,
  p.balcony,
  p.number-of-bathrooms {
    cursor: pointer;

    &.bold {
      font-weight: bold;
    }
  }

  @media #{$xs-down} {
    p.number-of-bathrooms {
      margin-right: 10px;
      font-size: 15px;
    }
  }


  // Price slider
  #price-average {
    margin-top: 50px;
  }

  .noUi-target {
    border-radius: 20px;
    background: #e6e6e6;
    border: none;
  }

  .noUi-horizontal {
    height: 8px;
  }

  .noUi-horizontal .noUi-handle {
    height: 20px;
    width: 20px;
    top: -7px;
    border-radius: 100%;
    background: black;
    box-shadow: none;
    border: none;
  }

  .noUi-handle:after, .noUi-handle:before {
    content: none;
  }

  .noUi-connect {
    top: -1px;
    height: 8px;
    background: #ccc;
    border-radius: 20px;
  }

  .noUi-tooltip {
    border: none;
    width: 105px;
    background: transparent;

    @media #{$sm-down} {
      font-size: 14px;
    }
  }
}