body.unit-types.index {
  footer {
    display: none;
  }

  .unit-panel {
    border: none;
    cursor: pointer;
    transition:  transform .25s;

    h1 {
      font-size: 25px;
    }

    .view-container {
      margin: 20px 0;
    }

    &:hover {
      cursor: pointer;
      transform: scale3d(1.03, 1.03, 1);
      box-shadow: 0 20px 60px -20px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
  }

  .view-container {
    display: flex;
    align-items: center;
    height: 25px;

    img {
      transform: translateX(-35px);
      transition: transform 0.25s;
    }

    .view-text {
      margin: 0;
      margin-right: 10px;
      font-size: 14px;
      display: inline-block;
      opacity: 0;
      transform: translateX(-35px);
      transition: transform 0.25s;
    }
  }

  @media #{$sm-down} {
    .trending-container {
      margin: 10px;
    }
  }

  .unit-panel:hover .view-container img {
    transform: translateX(0px);
  }

  .unit-panel:hover .view-text {
    animation: seeview 0.25s forwards;
    transform: translateX(0px);
  }

  @keyframes seeview {
    0% {
      -moz-opacity: 0;
      opacity: 0;
    }
    30% {
      -moz-opacity: 0;
      opacity: 0;
    }
    100% {
      -moz-opacity: 1;
      opacity: 1;
    }
  }

  .trending-indicator,
  .last-chance-indicator {
    display: flex;
    position: absolute;
    right: 25px;
    top: 10px;
    align-items: center;

    .title {
      color: #ff5353;
      font-size: 16px;
      margin-bottom: 0;
      margin-left: 5px;
    }
  }

  .flex-row {
    display: flex;
    flex: 1;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

    @media #{$sm-down} {
      flex-wrap: wrap;
      padding: 0 33px;
    }

    .price-column {
      width: 40%;
      padding: 0 38px;

      @media #{$sm-down} {
        width: 100%;
        padding: 0 15px;
      }

      p.lowest-price {
        position: absolute;
        left: 4px;
        top: 158px;

        @media #{$sm-down} {
          font-size: 14px;
        }
      }
    }

    .den-column,
    .balcony-column,
    .bathroom-column {
      width: 20%;
      padding: 0 20px;

      @media #{$sm-down} {
        width: 50%;
      }
    }

    .bathroom-column {
      @media #{$sm-down} {
        width: 100%;
      }
    }
  }

  .bathroom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media #{$sm-down} {
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  .bedrooms-filter {
    width: 1124px;
    display: flex;
    top: 0;
    left: 8px;
    position: absolute;
    background: white;
    border-bottom: 1px solid #ccc;
    z-index: 26;
  }

  @media #{$sm-down} {
    .bedrooms-filter {
      bottom: 0;
      top: calc(100% - 51px);
      position: fixed;
      border-top: 1px solid #ccc;
    }

    .nav > li > a {
      padding: 15px 20px;
      font-size: 14px;
    }
  }

  #price-average {
    margin-top: 50px;
  }

  .noUi-target {
    border-radius: 20px;
    background: #e6e6e6;
    border: none;
  }

  .noUi-horizontal {
    height: 8px;
  }

  .noUi-horizontal .noUi-handle {
    height: 20px;
    width: 20px;
    top: -7px;
    border-radius: 100%;
    background: black;
    box-shadow: none;
    border: none;
  }

  .noUi-handle:after, .noUi-handle:before {
    content: none;
  }

  .noUi-connect {
    top: -1px;
    height: 8px;
    background: #ccc;
    border-radius: 20px;
  }

  .noUi-tooltip {
    border: none;
    width: 105px;
    background: transparent;

    @media #{$sm-down} {
      font-size: 14px;
    }
  }
}