.container
  .row
    .col-xs-12
      %h1.text-uppercase Railway Mrkt.
      %p The Railway Market is part of Lower Junction development site. This time-limited pre-sale is official and you're buying units from the developer. <strong>Learn More</strong>

      %h1.text-uppercase Available Types Of Units
      / %ul.list-group
      /   - UnitType.all.each do |unit_type|
      /     %li.list-group-item
      /       %strong= unit_type.name

      %h1.text-uppercase Pre-Sale
      %p About
      %p Help
      %p Press

      .copyright
        &copy; #{Time.zone.now.year} Railway Market as part of Lower Junction
      %p Terms & Privacy