.container-fluid.special.footer
  .row
    .col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-1.col-lg-5.col-lg-offset-0
      %p
        DEMO MRKT

      %p.footer-message
        Demo Market is a collection of condominium residences in the most rapidly growing micro neighbourhood in Toronto, the Lower Junction.

    .col-xs-10.col-xs-offset-1.col-sm-6.col-md-5.col-md-offset-0
      %h4 Unit Type
      - UnitType.select(:number_of_bedrooms).distinct.sort_by(&:number_of_bedrooms).each_slice(2) do |description_slice|
        .col-xs-6.col-sm-4.col-md-6.bedroom-footer-column
          - description_slice.each do |unit_type|
            = link_to unit_types_path(number_of_bedrooms: pluralize(unit_type.number_of_bedrooms, 'bedroom')) do
              - if unit_type.number_of_bedrooms.zero?
                %p Studios
              - else
                %p= pluralize(unit_type.number_of_bedrooms, 'bedroom')

    .col-xs-10.col-xs-offset-1.col-sm-5.col-sm-offset-0.col-md-2.col-md-offset-0
      %h4
        Pre-Sale
      .pre-sale-column.col-xs-3.col-md-12
        = link_to about_path do
          %p about
        = link_to help_path do
          %p help

    .col-xs-10.col-xs-offset-1.col-md-10.col-lg-12.col-lg-offset-0
      .copyright
        %p © 2017 Demo Market as part of Lower Junction
