.container
  .row
    .col-md-5
      %h1.text-uppercase Railway <strong>Mrkt.</strong>
      %p The Railway Market is part of Lower Junction development site. This time-limited pre-sale is official and you're buying units from the developer.<span class='black'> Learn More</span>

    .col-md-5
      %h1.text-uppercase Available Types Of Units
      .flex-row
        - UnitType.select(:front_page_description).distinct.map(&:front_page_description).sort_by(&:to_i).each_slice(3) do |front_page_description_slice|
          .flex-column
            - front_page_description_slice.each do |front_page_description|
              %p.black
                %strong= front_page_description

    .col-md-2
      %h1.text-uppercase Pre-Sale
      .pre-sale-flex-column
        = link_to about_path do
          %p.black About
        %p.black Help
        %p.black Press


  .row.copyright-row
    .col-xs-8
      .copyright
        &copy; #{Time.zone.now.year} Railway Market as part of Lower Junction
    .col-xs-4.text-right
      = link_to terms_and_privacy_path do
        %p Terms & Privacy
