%nav.navbar
  .nav-block{ style: 'display: flex; width: 100%; justify-content: space-between;' }
    .hamburger-icon
      %span
      %span
      %span
      %span
    .saved-icon
      = render 'shared/saved_count'
