%nav.navbar
  .nav-block{ style: 'display: flex; width: 100%; justify-content: space-between;' }
    .hamburger-icon
      %span
      %span
      %span
      %span
    .logo
      = image_tag 'icons/logo.svg', class: 'img-responsive logo'
    .saved-icon
      = render 'shared/saved_count'
