!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }/
    %title RailwayMrkt
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    .container
      = render 'toastr_rails/flash'
      = yield
