.container-fluid.special
  .row.c-one
    .col-sm-offset-2.col-sm-8
      .row.c-two
        %h2.text-center.col-12 Congratulations!
      .row.c-three
        %p.text-center.col-12 We've received your deposit
      .row.c-four.text-center
        .circle-check
          %svg{:height => "73px", :version => "1.1", :viewbox => "563 174 73 73", :width => "73px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %ellipse#Oval-2{:cx => "599.5", :cy => "210.5", :fill => "none", :rx => "35.5", :ry => "35.5", :stroke => "#64C879", "stroke-width" => "1"}
          %svg#check{:height => "27px", :version => "1.1", :viewbox => "580 197 39 27", :width => "39px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
            %polyline#tick{:fill => "none", :points => "581 210.215158 593.392421 222.607579 618 198", :stroke => "#64C879", "stroke-width" => "1"}

.container
  .row.c-five
    .col-sm-offset-2.col-sm-8
      %h2 What's next?
      %p We will contact you within 24 hours to set up the meeting. This must be done within 10 days or your deposit will be retfunded and your unit will be made available for purchase to someone else.
      %h2 Share with your friends
      %p You can access unit you’ve purchased below.
      = link_to edit_user_registration_path do
        %button.btn.btn-block.btn-black{type: "button"} My Account
